<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    # No aplicar reglas a archivos o directorios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Redirigir todo lo demás a index.html
    RewriteRule . /index.html [L]
</IfModule>